-r requirements.txt
pytest-benchmark
mypy
hypothesis
grpcio-tools
pytest-httpx
requests-mock
pre-commit
types-PyYAML
types-requests
papermill
ruff
nbformat
nbconvert
nbclient
ipykernel
jupyter_core
appnope; sys_platform == "darwin"
gymnasium[classic-control]
gradio
audioop-lts==0.2.1; python_version >= "3.13"
aiohttp
qdrant-client
pytest==8.4.1
pytest-cov
mutmut
requests
