# Ignore temporary files and dev artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pytest_cache/
*.coverage
*.egg-info/
build/
dist/
.eggs/
*.log
*.tmp
*.swp
.cache/
.git/
.gitignore
Dockerfile*
.dockerignore
.env
*.env
*.md
insight_browser_v1/node_modules/
!requirements.lock
